body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


#calculator {
    font-family: Arial, sans-serif;
    background-color: rgb(24, 24, 24);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
    
}

#display {
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: rgb(53, 53, 53);
    color: white;
}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: rgb(59, 59, 59);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: rgb(145, 145, 145);
}

button:active {
    background-color: rgb(145, 145, 145);
}

.operator-btn {
    background-color: orange;
}

.operator-btn:hover {
    background-color: rgb(255, 194, 80);
}

.operator-btn:active {
    background-color: rgb(252, 238, 214);
}